body{
  font-family: 'Oswald', sans-serif;
  margin:0
}
.container{
  background-image: url(./images/donation9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:732px;
  margin-top:-33px
}
#heading-1{
  font-size:40px;
  color:orange;
  width:400px;
  margin-left:500px;
  text-align:center;
  padding-top:200px
  
 
}
#donate{
  padding-top:50px;
  text-align:center;
  font-size:50px
}
#our-donate{
  padding-top:60px;
  text-align:center;
  font-size:50px
}
p{
  text-align: center;
  width:600px;
  margin-left:400px;
  color:#fefdfd;
  font-size:20px
}
#get-updates{
  padding-top:47px;
  text-align:center;
  font-size:50px
}


.donate a{
  margin-left:620px;
  text-decoration: none;
  color:#fff;
  padding:10px 40px;
  background-image:linear-gradient(tomato,orange);
  border-radius: 5px;
  
  
  
}
.donate{
  margin-top:30px
}
/* section 2*/
.flex-container{
  display:flex;
  margin-left:400px;

}
.flex-container{
display:flex;
margin-left:470px
}
.flex-box{
 padding:25px 10px;
 background-color:#dcdcdc;
 margin:10px
}
.flex-container .flex-box{
  font-weight: 900;
  font-size:20px;
  color:#575252
}
#specific{
  border:2px solid red;
  background: #fbd3d3;
  color:red
}
#paragraph{
  color:#dcdcdc
}
hr{
  width:700px
}
.food-family{
  width:20%;
  margin:20px;
  margin-left:30px;
  border:none;
  padding:20px
}
.container-box{
  display:flex;
  margin-left:165px
}
.family-img{
  width:70px
}
#food{
  background-color: #fbd3d3;
}
#family{
  background-color: #6495ed;
}
#icon{
  background:#daa137
}

.text{
  color:black;
  text-align: left;
  margin-left:0px
}

.anchor a{
  margin-left:0px
}
.section-3{
  display:flex;
  margin-top:100px
}
.image-5 img{
  padding:20px;
  margin-left:300px;
}
.side-1{
  padding:20px;
  width:300px;
  margin-right:10px;
  margin-left:30px
}
h3{
  font-size:20px
}
.image-6 img{
  width:600px;
  padding:30px;
  margin-top:100px
}
.section-4{
  display:flex
}
.heading-p{
  margin-top:150px
}
#text-6{
  color:black
}

form{
  text-align: center;
  background-color: #fbd3d3;
  height:200px;
  margin-left: 200px;
  margin-right:200px
}
form input{
  height:30px;
  width:150px;
  margin-top:75px
}
#email{
  width:300px;
  
}
#submit{
  height:34px;
  background:red;
  color:white;
  border:none
}
#be-humble{
  text-align: center;
  margin-left: 65px;
  font-family: monospace;
  color:#ec3a3a;
  padding-top:40px
}
#l-paragraph{
  color:white
}
footer{
  background:black ;
  height:200px;
}


